body {
    background: url("../img/bg.jpg");
    background-size: ajust;
    background-repeat: no-repeat;
    }

ul {
    padding: 0;
}

li {
    list-style-type: rgb(238, 232, 232);
}

.card-personagem {
    background:none;
}

.border {
    border:none;
}